.sider {
    background-color: #ffffff; /* Màu trắng */
}

.sider .ant-menu {
    background-color: #ffffff; /* Màu trắng cho menu */
}

.sider .ant-menu-item {
    color: #000; /* Màu chữ đen */
}

.sider .ant-menu-item-selected {
    background-color: #e6f7ff; /* Màu nền khi được chọn */
}

.sider .ant-menu-item:hover {
    background-color: #bae7ff; /* Màu nền khi hover */
}
