.sider {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    overflow-y: auto;
    background-color: #fff;
    border-right: 1px solid #ddd;
    z-index: 1000;
    font-family: 'Helvetica Neue', Arial, sans-serif; /* Thay đổi font chữ */
}

.menu {
    height: 100%;
    border-right: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif; /* Thay đổi font chữ */
    font-size: 14px; /* Kích thước font chữ */
}
.ant-menu-item-icon {
    font-size: 30px !important;
}

