/* Post.css */

.post-card {
    position: relative;
}

.post-header {
    display: flex;
    align-items: center;
    position: relative;
}

.post-header .ant-avatar {
    border-radius: 50%;
}

.post-header .ant-typography {
    margin-left: 10px;
}

.post-image {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.post-stats {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.post-actions {
    margin-top: 10px;
}

.post-action-button {
    margin-right: 10px;
}

.ant-btn {
    font-size: 16px;
}

.more-options-button {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin-left: auto;
}

.more-options-button .anticon {
    vertical-align: middle;
}
