.posts-home {
    padding: 20px; /* Thêm khoảng đệm cho toàn bộ khu vực bài viết */
}

.ant-typography {
    margin-bottom: 20px; /* Khoảng cách phía dưới tiêu đề */
}

/* Thay đổi cách hiển thị danh sách bài viết */
.ant-list-items {
    margin: 0; /* Xóa khoảng cách bên ngoài của các mục danh sách */
}

.ant-list-item {
    margin-bottom: 20px; /* Khoảng cách phía dưới mỗi mục danh sách */
}

/* Màn hình cỡ nhỏ (Small devices, tối đa 768px) */
@media only screen and (max-width: 768px) {
    .posts-home {
        padding: 10px; /* Thay đổi khoảng đệm cho màn hình nhỏ */
    }
}

/* Màn hình điện thoại (Small devices, tối đa 576px) */
@media only screen and (max-width: 576px) {
    .posts-home {
        padding: 5px; /* Thay đổi khoảng đệm cho màn hình điện thoại */
    }
}
